<!DOCTYPE html>
<html>
    <head>
        <title>Console</title>
    </head>
    <body>
        <h1>WebSocket Console</h1>
        <form action="" onsubmit="sendMessage(event)">
            <button onclick="connect(event)">Connect</button>
            <button onclick="disconnect(event)">Disconnect</button>
            <span id="indicator"><font color="red">Disconnected</font></span>
            <hr>
            <label>Message: <input type="text" id="messageText" autocomplete="off"/></label>
            <button>Send</button>
        </form>
        <ul id='messages' style="font-family: monospace">
        </ul>
        <script>
            var ws = null;

            function connect(event) {                
                ws = new WebSocket("ws://localhost:8000/ws/");
                
                ws.onmessage = function(event) {
                    var messages = document.getElementById('messages');
                    var message = document.createElement('li');
                    var content = document.createTextNode(event.data);
                    message.appendChild(content);
                    messages.prepend(message);
                };
                ws.onclose = function(event) {
                    var indicator = document.getElementById('indicator');
                    indicator.innerHTML = `<font color="red">Disconnected</font>`;
                }
                ws.onopen = function(event) {
                    var indicator = document.getElementById('indicator');
                    indicator.innerHTML = `<font color="green">Connected</font>`;
                }
                event.preventDefault()
            }

            function sendMessage(event) {
                var input = document.getElementById("messageText");
                ws.send(input.value);
                input.value = '';
                event.preventDefault();
            }

            function disconnect(event) {
                ws.close();
            }
        </script>
    </body>
</html>
